* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.body-container {
  display: flex;

  .sidebar-section {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex: 0.4;
    width: 100%;

    .sidebar-icons {
      background-color: black;
      flex: 0.2;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 8px 0px;
      cursor: pointer;

      .menu-svg-icons {
        padding: 15px;
        width: 100%;
      }
      .menu-svg-icons:hover {
        background-color: #2489ff;
      }

      .line-breaker {
        background-color: rgba(138, 138, 138, 0.463);
        padding: 0.1px;
        width: 40%;
        margin: 13px 0px;
      }

      .sidebar-bottom {
        position: absolute;
        bottom: 15px;
        cursor: pointer;
      }
    }

    .sidebar-menu {
      background-color: #fff;
      flex: 0.8;
      position: relative;
      border-right: 1px solid #dddada;
      .search-bar {
        display: flex;
        padding: 12px 14px;
        border-bottom: 1px solid #dddada;
        input {
          outline: none;
          border: none;
          width: 100%;
          font-weight: bold;
        }
      }
      .sidebar-content {
        padding: 7px 9px;
        overflow-y: scroll;
        height: 100vh;
      }
    }
  }

  .sidebar-content-bottom {
    bottom: 0px;
    position: absolute;
    cursor: pointer;
    background-color: white;
    width: 100%;
    color: black;
    padding: 14px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    .add-button {
      background-color: black;
      color: white;
      width: 85%;
      border: none;
      padding: 13px 0px;
      border-radius: 4px;
      font-size: 13px;
      display: flex;
      justify-content: center;
      gap: 8px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.836);
      }
    }
  }

  .content {
    flex: 1;
    padding: 20px 50px;
  }
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 0px;
  padding-bottom: 7px;
  cursor: pointer;
}

.accordion-titleIcon {
  font-size: 12px;
}

.accordion-title {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.accordion-title-header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.user-image {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-size: contain;
  position: relative;
}

.user-card {
  display: flex;
  padding: 8px;
  gap: 5px;
  border-radius: 4px;
  cursor: pointer;

  .user-online {
    background-color: #04ba13;
    height: 8px;
    width: 8px;
    position: absolute;
    border-radius: 100%;
    bottom: 3px;
    right: 0px;
    border: 1px white solid;
  }

  .user-status {
    text-transform: uppercase;
    font-size: 8px;
    color: gray;
    display: flex;
    justify-content: end;
    padding-top: 3px;
  }
}

.user-card:hover {
  background-color: whitesmoke;
}

.sidebar-content::-webkit-scrollbar {
  display: none;
}

.custom-scrollbars::-webkit-scrollbar {
  width: 2px;
  height: 7px;
  display: block;
}

.custom-scrollbars::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.custom-scrollbars::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 100px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}

.vertical-seperator {
  border-right: 0.5px lightgray solid;
  height: 20px;
  margin: 0px 10px;
}

.header-icons {
  display: flex;
  gap: 14px;
  cursor: pointer;
}

.user-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.user-name {
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize;
}
.user-description {
  font-size: 10px;
  font-weight: 500;
  color: gray;
  text-transform: capitalize;
}

.van-details {
  background-color: #f3f5f9;
  border-radius: 7px;
  padding: 40px 60px;
}

.details-container {
  display: flex;
}

.details-text {
  flex: 0.6;
  padding-top: 20px;
}

.van-image {
  height: 250px;
  width: 100%;
  background-size: contain;
  position: relative;
  flex: 1;
  background-size: cover;
}


.details-value {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}

.details-title {
  font-size: 10px;
  color: gray;
}

.details-flex {
  display: flex;
  gap: 50px;
  margin-bottom: 10px;
}

@media screen and (min-width: 1024px) {
  /* Your CSS styles for big screens go here */
  .van-image {
    background-size: contain;
  }
}

